<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>2015.04.07 - 완전 플렉서블한 div와 텍스트 </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div>
            <h1>여기는 제목 부분입니다.</h1>
            <p>완전히 플렉서블한 텍스트와 박스 구조 <br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus fugiat id iusto, provident velit magnam qui mollitia, iure corrupti ipsa ad vitae molestiae nemo officiis cum libero laborum rerum quos.</p>
        </div>
    </body>
</html>