<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 오픈그래프 프로토콜 -->
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <!-- //오픈그래프 프로토콜 -->
    <title>2015. 08. 28 - title </title>
    <link rel="stylesheet" href="css/style.css">
    <style>
      input[type=text] {
        width: 300px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
      }
    </style>
</head>
<body>
<!-- 페이지 시작 -->
    <!-- 헤더 -->
    <header>
      <h1>
        인풋박스에 대한 기본 입력 설정 - ime-mode
      </h1>
    </header>
    <!-- //헤더 -->
    <!-- 메인섹션 -->
    <section>
      <h2>inactive</h2>
      <input type="text" style="ime-mode:inactive;">

      <h2>active</h2>
      <input type="text" style="ime-mode:active;">

      <h2>auto</h2>
      <input type="text" style="ime-mode:auto;">

      <h2>disabled</h2>
      <input type="text" style="ime-mode:disabled;">

      <!-- 한글 우선 -->
      <input type="text" style="ime-mode:active;">
      <!-- 영문 우선 -->
      <input type="text" style="ime-mode:inactive;">
      <!-- 영문만 -->
      <input type="text" style="ime-mode:disabled;">

    </section>
    <!-- //메인섹션 -->
    <!-- 푸터 -->
    <footer>

    </footer>
    <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/common.js"></script>
<!-- //자바스크립트 -->
</body>
</html>
