<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>2015.04.07 - 슬라이딩 메뉴 연구 </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="logo box">LOGO</div>
        <div class="menu box"> ON </div>
        <div class="menuview">
            <ul>
                <li> menu 1</li>
                <li> menu 2</li>
                <li> menu 3</li>
                <li> menu 4</li>
                <li> menu 5</li>
            </ul>
        </div>
        <div class="mainview">
            <div class="box">1</div>
            <div class="box">2</div>
        </div>
    </body>
</html>