<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 11. 14 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>
<!--
em 단위는 부모소요의 사이즈에 대응하고
rem 단위는 루뜨(body) 요소 사이즈에 대응한다 -> 브라우져 지원율이 낮기에 사용에 주의를 요함
ch 단위는 숫자0의 사이즈의 기준으로 커지는 단위
-->
<!-- 박스쉐도우 와 아웃라인을 이용해서 박스모델과 겹치지 않는 추가적인 보더를 생성 할 수 있다 -->


  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>
  <div class="aaa">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea rem quasi, accusamus facere iusto libero ullam animi eligendi nemo saepe sit ut nam impedit quae, ipsa nesciunt necessitatibus cupiditate.
  </p>

  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
</body>
</html>
