<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015. 08. 10 - 페이지길에와 현스크롤위치에 대한 안내 UI </title>
<style>

.top_page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #6c9cf5;
    height: 5px;
    transition: 0.3s all ease;
}
.top_page div.percent_bar {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    background: #aaa;
    height: 5px;
    transition: 0.3s all ease;
}
section p {
    padding: 100px;
}
#scrollValue {
  position: fixed;
  top: 30px;
  left: 20px;
}
#scrollValue2 {
  position: fixed;
  top: 30px;
  left: 50px;

}
#scrollValue3 {
  position: fixed;
  top: 50px;
  left: 50px;

}
#scrollValue4 {
  position: fixed;
  top: 30px;
  left: 250px;

}
#scrollValue5 {
  position: fixed;
  top: 7px;
  left: 10px;
  color: #fff;
  
}

</style>
</head>
<body>
<!-- 페이지 시작 -->
    <!-- 헤더 -->
    <header>
        <div id="top_page" class="top_page">

            <div class="percent_bar">

            </div>

        	<span id="scrollValue"> </span>
        	<span id="scrollValue2"> </span>
        	<span id="scrollValue3"> </span>
        	<span id="scrollValue4"> </span>
        	<span id="scrollValue5"> </span>
        </div>

    </header>
    <!-- //헤더 -->
    <!-- 메인섹셔 -->
    <section>
        <p class="1">스크롤을 천천히 내려 보세요~</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
        <p class="1">내용</p>
        <p class="2">내용</p>
        <p class="3">내용</p>
        <p class="4">내용</p>
        <p class="5">내용</p>
        <p class="6">내용</p>
        <p class="7">내용</p>
        <p class="8">내용</p>
        <p class="9">내용</p>
        <p class="10">내용</p>
    </section>
    <!-- //메인섹셔 -->

    <footer>

    </footer>
    <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script>
var isTime1 = 0;
var isTime2 = 0;
var isTime3 = 0;

$ ( function () {
    $ (window) .scroll (function() {
        // 스크롤 값을 취득
        var value = $( this ).scrollTop ();
        var docHeight = $(document).height();
        var winHeight = $(window).height();
        var percent = parseInt((value/(docHeight-winHeight))*100);
        $("#scrollValue").text("현제 위치 : " + percent + "%");
        $(".percent_bar").css("left",percent+"%");
//         $("#scrollValue").text(percent);
        if (percent < 3) {
            $(".top_page").css("height","5");
            $(".percent_bar").css("height","5");
        } else {
            $(".top_page").css("height","30");
            $(".percent_bar").css("height","30");
        };
        
        if (percent > 1 ) {
            if(!isTime1){
                isTime1 = Date.now();
//                 $("#scrollValue2").text(isTime1/1000);
            }            
        };
        if (percent > 11 ) {
            if(!isTime2){
                isTime2 = Date.now();
//                 $("#scrollValue3").text(isTime2/1000);
            }            
        };
        if (percent > 51 ) {
            if(!isTime3){
                isTime3 = Date.now();
//                 $("#scrollValue3").text(isTime3/1000);
            }            
        };

    	if(isTime1 && isTime2) {
    		timer = (isTime2 - isTime1)/1000;
//             $("#scrollValue4").text(timer);
            var isResult =  timer*10/60; 
            var isResult2 = isResult.toFixed(2);
            
            if(isTime3) {
                timer = (isTime3 - isTime1)/1000;
//                 $("#scrollValue4").text(timer);
                var isResult = timer*2/60;
                var isResult2 = isResult.toFixed(2);
                
            }
            $("#scrollValue5").text("페이지 모두 읽는데 걸리는 남은 예상시간 :" + isResult2 + "분");
    	};
   
//         console.log("percent : " + percent + " / time1 : " + isTime1 + " / time2 : " + isTime2);
    });

});
</script>
<!-- //자바스크립트 -->
</body>
</html>




