@charset "UTF-8";
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* 리셋 기본 css */
body {
  font-family: sans-serif;
}

input:focus, select:focus {
  outline: none;
}

header {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #E6E6E6;
  box-sizing: border-box;
}
header h1 {
  width: 120px;
  margin: 54px auto 0;
}
header h1 img {
  width: 100%;
}
header nav .top_menu_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F1F1F1;
  height: 34px;
}
header nav .top_menu {
  width: 1140px;
  margin: 0 auto;
}
header nav .top_menu ul {
  width: 420px;
  float: right;
  margin: 0 auto;
  padding-top: 8px;
}
header nav .top_menu ul::after {
  display: block;
  content: '';
  clear: both;
}
header nav .top_menu ul li {
  font-size: 14px;
  color: #666;
  float: left;
}
header nav .top_menu ul li::after {
  content: '|';
  padding: 0 5px;
  font-size: 13px;
  vertical-align: top;
  clear: both;
}
header nav .top_menu ul li:nth-last-child(2)::after, header nav .top_menu ul li:last-child::after {
  content: '';
}
header nav .top_menu ul li div {
  float: left;
}
header nav .top_menu ul li div input {
  width: 80px;
  font-size: 1em;
  border: none;
  background: none;
}
header nav .top_menu ul li div img {
  margin-top: -2px;
}
header nav .main_menu {
  width: 1140px;
  padding-bottom: 10px;
  margin: 0 auto;
}
header nav .main_menu ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
header nav .main_menu ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  padding-top: 30px;
  text-align: center;
}
header nav .main_menu ul li:last-child, header nav .main_menu ul li:first-child {
  text-align: inherit;
  padding-top: 0;
}
header nav .main_menu ul li:first-child {
  max-width: 60px;
  width: 60px;
  min-width: 60px;
}
header nav .main_menu ul li:last-child {
  max-width: 150px;
  width: 150px;
  min-width: 150px;
}

main {
  width: 1140px;
  margin: 0 auto;
}
main .main_content ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
main .main_content ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  background: #F7F0F0;
  margin-right: 20px;
  text-align: center;
  padding: 80px 0;
}
main .main_content ul li img {
  width: 92px;
}
main .main_content ul li h2 {
  padding: 50px 0;
  font-size: 38px;
  line-height: 48px;
}
main .main_content ul li p {
  border: 2px solid #D9D2D2;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
  line-height: 46px;
  font-size: 20px;
  color: #333;
}
main .main_content ul li:first-child {
  background: #E64545;
  color: #fff;
}
main .main_content ul li:first-child p {
  border-color: #fff;
  color: #fff;
}
main .main_content ul li:last-child {
  margin-right: 0;
}
main .sub_content {
  margin: 40px 0 5px;
}
main .sub_content .keyword {
  background: #EBF2F5;
  text-align: center;
}
main .sub_content .keyword::after {
  display: block;
  content: '';
  clear: both;
}
main .sub_content .keyword .title {
  width: 200px;
  float: left;
  padding: 22px 0;
}
main .sub_content .keyword .title p {
  height: 30px;
  color: #f33;
  font-size: 20px;
  line-height: 30px;
}
main .sub_content .keyword .keywords {
  width: 900px;
  float: left;
  padding: 22px 0;
}
main .sub_content .keyword .keywords ul li {
  height: 30px;
  line-height: 32px;
  float: left;
  background: #fff;
  padding: 0 17px;
  border-radius: 30px;
  margin-right: 10px;
}
main .sub_content .keyword .arrow_box {
  height: 30px;
  cursor: pointer;
  width: 40px;
  float: left;
}
main .sub_content .sub_link_box::after {
  display: block;
  content: '';
  clear: both;
}
main .sub_content .sub_link_box div {
  float: left;
  margin: 0 24px 24px 0;
}
main .sub_content .sub_link_box div.box3, main .sub_content .sub_link_box div.box5, main .sub_content .sub_link_box div.box7 {
  margin-right: 0;
}
main .sub_content .sns_link {
  width: 500px;
  margin: 25px auto 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
main .sub_content .sns_link li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
main .sub_content .sns_link li img {
  cursor: pointer;
}

footer {
  background: #727272;
  padding: 30px 0 40px;
}
footer .footer_main {
  width: 1140px;
  margin: 0 auto;
}
footer .footer_main::after {
  display: block;
  content: '';
  clear: both;
}
footer .footer_main ul {
  float: left;
  width: 900px;
}
footer .footer_main ul li {
  color: #fff;
  float: left;
  padding: 10px 0;
  font-weight: 400;
}
footer .footer_main ul li strong {
  font-weight: bold;
}
footer .footer_main ul li::after {
  content: ' | ';
  padding: 0 5px;
  font-size: 14px;
  vertical-align: top;
  color: #929294;
}
footer .footer_main ul li:nth-child(4n+4)::after {
  content: '';
}
footer .footer_main .family_site {
  float: right;
}
footer .footer_main .family_site select {
  padding: 7px 3px;
  background: #727272;
  border: 1px solid #fff;
  color: #fff;
}

/*    */
