<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title> 2016.07.13 - title </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>


	<div class="container">
		<div class="col-lg-8 col-md-6 col-sm-4">1</div>
		<div class="col-lg-4 col-md-6 col-sm-8">2</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">3</div>
		<div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">4</div>
	</div>




	<!-- 자바스크립트 -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="js/common.js"></script>
	<!-- 내부 스크립트 -->
	<script>
	</script>
	<!-- //자바스크립트 -->
</body>
</html>
