<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- 오픈그래프 프로토콜 -->
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<!-- //오픈그래프 프로토콜 -->
	<title> 2017.04.18 - 모션테스트 </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- 페이지 시작 -->
	<!-- 헤더 -->
	<header>

	</header>
	<!-- //헤더 -->
	<!-- 메인섹션 -->
	<main>
		<section>
			<div class="button">타입캡슐 봉인하기!</div>

			<div class="capsule-box top">캡슐상</div>
			<div class="capsule-box bottom">캡슐하</div>

			<input type="radio" id="trigger1" name="capsule_ball" class="rabox1">
			<label for="trigger1" class="capsule capsule_1">친구</label>

			<input type="radio" id="trigger2" name="capsule_ball" class="rabox1">
			<label for="trigger2" class="capsule capsule_2">애인</label>

			<input type="radio" id="trigger3" name="capsule_ball" class="rabox1">
			<label for="trigger3" class="capsule capsule_3">건강</label>

			<input type="radio" id="trigger4" name="capsule_ball" class="rabox1">
			<label for="trigger4" class="capsule capsule_4">가족</label>

			<input type="radio" id="trigger5" name="capsule_ball" class="rabox1">
			<label for="trigger5" class="capsule capsule_5">외모</label>

			<input type="radio" id="trigger6" name="capsule_ball" class="rabox1">
			<label for="trigger6" class="capsule capsule_6">명예</label>

			<input type="radio" id="trigger7" name="capsule_ball" class="rabox1">
			<label for="trigger7" class="capsule capsule_7">재묾</label>

			<input type="radio" id="trigger8" name="capsule_ball" class="rabox1">
			<label for="trigger8" class="capsule capsule_8">직장</label>

		</section>
	</main>
	<!-- //메인섹션 -->

	<!-- 푸터 -->
	<footer>

	</footer>
	<!-- //푸터 -->
	<!-- //페이지 끝 -->
	<!-- 자바스크립트 -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/common.js"></script>
	<!-- 내부 스크립트 -->
	<script>
		$(function () {
			$(".button").click(function() {
				$(".capsule").addClass("ok");
			});
		});
	</script>
	<!-- //자바스크립트 -->
</body>
</html>
