<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 07. 10 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- 페이지 시작 -->

  <div class="left_box">
    <div class="content_box1">
      <h1>One</h1>
    </div>
    <div class="content_box2">
      <h1>Two</h1>
    </div>
    <div class="content_box3">
      <h1>Three</h1>
    </div>
    <div class="prev_btn"> < 이전 </div>
    <div class="next_btn"> 다음 > </div>
  </div>

  <div class="right_box">
    <div class="rcontent_box1">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
    </div>
    <div class="rcontent_box2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
    </div>
    <div class="rcontent_box3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis beatae ab ipsam ratione eius, quae voluptates laudantium eos vero voluptatem nobis animi sunt cupiditate cumque, quod minus deserunt exercitationem molestias?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio pariatur ipsum ut commodi debitis dignissimos ullam incidunt placeat nisi atque, esse, totam nobis iusto, laboriosam modi veritatis accusamus, itaque aliquam!</p>
    </div>
  </div>

  <!-- //페이지 끝 -->
  <!-- 자바스크립트 -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/common.js"></script>
  <!-- //자바스크립트 -->
</body>

</html>
