<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015. 05. 27 - title </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 페이지 시작 -->
    <input type="checkbox" id="checkbox">
    <label class="checkbox" for="checkbox"> 토글 클릭! </label>

    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quas ullam dolorem qui eius earum ipsa placeat beatae facilis. Voluptate ipsum nam, distinctio, nulla harum eaque cupiditate veniam nihil id?
      </p>
      <div class="box">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tenetur, harum, nam, odio adipisci, iure deserunt illo cum velit nesciunt vero odit molestiae temporibus ducimus cumque. Dolorum alias, consectetur dicta!
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita odio velit quo eos quidem ea accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sed corporis sit, amet laudantium et repellat temporibus. Qui?
      </p>
    </div>

    <!-- //페이지 끝 -->
</body>
</html>
