<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 12. 01 - 스프라이트를 이용한 애니메이션 </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>
    <div class="attack"> 공 격! </div>
    <div class="play"></div>
    <div class="copyright"> design by 슈퍼김밥, publishing by linu4u </div>
  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
</body>
</html>
