<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015. 05. 27 - title </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 페이지 시작 -->
    <input type="checkbox" id="checkbox">
    <label class="checkbox" for="checkbox"> 토글 클릭! </label>

    <div class="div1">div1</div>
    <div class="div2">div2</div>
    <div class="div3">div3</div>
gi
    <!-- //페이지 끝 -->
</body>
</html>
