/* reset */
body, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}
ul, li {
    list-style: none;
}
/* reset */
.note {
  padding-top:400px;
  width: 300px;
  margin: auto;
}

img {
    width: 100%;
}
.header {
    width: 200px;
    margin: 0 auto;
}
.main-list {
    position: relative;
    width: 200px;
    margin: 0 auto;
}
.main-list ul li {
  position: absolute;
  width: 100px;
  transition: 0.5s all ease;
  cursor: pointer;
}
.main-list ul li:hover {
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 2; 
}

/* 메인 리스트 영역 */
.main-list ul > li {
  top: 0;
  left: 0;
}
.main-list ul > li + li {
  top: 70px;
  left: 100px;
}
.main-list ul > li + li + li {
  top: 100px;
  left: 0;
}
.main-list ul > li + li + li + li {
    top: 170px;
    left: 100px;
}
.main-list ul > li + li + li + li + li {
  top: 230px;
  left: 0;
}
.main-list ul > li + li + li + li + li + li {
  top: 270px;
  left: 100px;
}
/* 더미 영역 */
.main-list ul > li + li + li + li + li + li + li:hover {
    box-shadow: none;
}
.main-list ul > li + li + li + li + li + li + li {
  top: 0;
  left: 100px;
}
.main-list ul > li + li + li + li + li + li + li + li {
  top: 200px;
  left: 0;
}
.main-list ul > li + li + li + li + li + li + li + li + li {
  top: 330px;
  left: 0;
}

