<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 오픈그래프 프로토콜 -->
    <meta name="title" content="">
    <meta name="description" content="말">
    <meta name="keywords" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <!-- //오픈그래프 프로토콜 -->
    <title>2015. 09. 08 - title </title>
    <link rel="stylesheet" href="css/style.css">
    <style>
    .big_box {
      width: 395px;
      height: 300px;
      background: #eee;
      position: relative;

    }
    .click {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }


    </style>
</head>
<body>
<!-- 페이지 시작 -->
    <!-- 헤더 -->
    <header>

    </header>
    <!-- //헤더 -->
    <!-- 메인섹션 -->
    <section>
      <div class="big_box">
        <a href="http://ideakey.co.kr" class="click"></a>
        <div class="video1"><embed width="390" height="222" src="https://www.youtube.com/v/u6sg81rPcmk?version=2&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen=""></embed></div>
        <div class="video2"></div>
        <div class="video3"></div>
        <div class="video4"></div>
      </div>
      <embed width="390" height="222" src="https://www.youtube.com/v/u6sg81rPcmk?rel=0&amp;controls=0&amp;showinfo=0&amp;version=1&amp;autoplay=1&amp;loop=1" frameborder="0"></embed>
      <embed width="300" height="180" src="https://www.youtube.com/v/FHo7MAbF8go?version=2&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen=""></embed>
      <iframe width="390" height="222" src="https://www.youtube.com/embed/u6sg81rPcmk?&amp;autoplay=1&amp;loop=1" frameborder="0" allowfullscreen=""></iframe>

    </section>
    <!-- //메인섹션 -->
    <!-- 푸터 -->
    <footer>

    </footer>
    <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/common.js"></script>
<!-- //자바스크립트 -->
</body>
</html>
