<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015.03.05 - title </title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Compliance patch for Microsoft browsers -->
    <!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script><![endif]-->

    
</head>

<body>
    <div class="header">
        <img src="img/topimg.gif" alt="">
    </div>
    <div class="main-list">
        <ul>
            <!-- 메인 리스트 시작 -->
            <li class="ing">
                <div>
                    <h4>제목이 표시되는 영역 </h4>
                    <div class="fb-like" data-href="http://www.linu4u.com/RnD/garuda/index.html&id=1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    <span>출발일 : 2015년 03월 12일</span>
                </div>
                <img src="img/img01.gif" alt="">
            </li>
            <li class="ing">
                <div>
                    <h4>제목이 표시되는 영역 </h4>
                    <div class="fb-like" data-href="http://www.linu4u.com/RnD/garuda/index.html&id=2" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    <span>출발일 : 2015년 03월 12일</span>
                </div>

                <img src="img/img02.gif" alt="">
            </li>
            <li class="ing"><img src="img/img03.gif" alt=""></li>
            <li class="ing"><img src="img/img04.gif" alt=""></li>
            <li class="end"><img src="img/img05.gif" alt=""></li>
            <li class="ing"><img src="img/img06.gif" alt=""></li>
            <!-- //메인 리스트 시작 -->
            <!-- 더미 리스트 시작 -->
            <li class="dummy"><img src="img/dummy01.gif" alt=""></li>
            <li class="dummy"><img src="img/dummy02.gif" alt=""></li>
            <li class="dummy"><img src="img/dummy03.gif" alt=""></li>
            <!-- //더미 리스트 시작 -->
        </ul>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=553465164733826&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>    
    
</body>

</html>