<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 12. 21 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>
    <div class="grid_box">
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
      <div class="grid">
        <div class="grid_space"></div>
      </div>
    </div>

  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/common.js"></script>
<!-- 내부 스크립트 -->
<script>
</script>
<!-- //자바스크립트 -->
</body>
</html>
