<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title> 2017.04.18 - 모션테스트 </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- 페이지 시작 -->
	<!-- 헤더 -->
	<header>
	</header>
	<!-- //헤더 -->
	<!-- 메인섹션 -->
	<main>
		<div class="left">1</div>
		<div class="right">2</div>
	</main>
	<!-- //메인섹션 -->

	<!-- 푸터 -->
	<footer>

	</footer>
	<!-- //푸터 -->
	<!-- //페이지 끝 -->
	<!-- 자바스크립트 -->
	<!-- 내부 스크립트 -->
	<script>
	</script>
	<!-- //자바스크립트 -->
</body>
</html>
