<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title> 개발팀 부트스트랩 연습1 </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
  /*기본 스타일 건들지 마세용*/
  div {
	text-align: center;
	line-height: 50px;
  }
  [class^="col-"] {
	  border: 1px solid #333; box-sizing: border-box;
  }
  /*기본 스타일 건들지 마세용*/
  </style>
</head>
<body>
<div class="container">


	<!-- 코드 시작 -->
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-12">
            <div class="row">
    		    <div class="col-lg-4 col-md-12 col-xs-6">1</div>
    		    <div class="col-lg-5 col-md-6 col-xs-6">2</div>
    		    <div class="col-lg-3 col-md-6 col-xs-12">3</div>
            </div>
		</div>
        <div class="col-xs-12 col-md-6 col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-6">4</div>
                <div class="col-lg-6 col-md-12 col-xs-6">5</div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="row">
                <div class="col-xs-3 col-md-4 col-lg-3">6</div>
                <div class="col-xs-9 col-md-8 col-lg-3">7</div>
                <div class="col-xs-9 col-md-7 col-lg-3">8</div>
                <div class="col-xs-3 col-md-5 col-lg-3">9</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">10</div>
                <div class="col-xs-6 col-md-6 col-lg-3">11</div>
                <div class="col-xs-6 col-md-12 col-lg-3">12</div>
            </div>
        </div>
        <div class="col-xs-8 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-xs-6 col-md-12 col-lg-6">13</div>
                <div class="col-xs-6 col-md-12 col-lg-6">14</div>
            </div>
        </div>
        <div class="col-xs-4 col-md-12">15</div>
	</div>


</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
