<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 오픈그래프 프로토콜 -->
  <meta name="title" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <!-- //오픈그래프 프로토콜 -->
  <title>2016. 03. 07 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>
  
  
  
  
  <label for="checkBoxName">약관동의</label>
  <input id="checkBoxName" type="checkbox" >

  <a href='javascript:;' onclick='clickEventObj();'>보내기</a>
  
  
  
  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 내부 스크립트 -->
<script>




var isCheck = false;
function clickEventObj(){
	isCheck = document.getElementById('checkBoxName');
	
	if(isCheck.checked === false){
	 alert('체크박스를 체크해주세요');
	return
	}	
};


</script>
<!-- //자바스크립트 -->
</body>
</html>