<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title> Midnight.js 따라하기 </title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- 페이지 시작 -->
	<!-- 헤더 -->
	<header>
		<p class="title_01"> 이것이 첫번째 타이틀</p>
		<p class="title_02"> 이것이 두번째 타이틀</p>
		<p class="title_03"> 이것이 세번째 타이틀</p>
		<p class="title_04"> 이것이 네번째 타이틀</p>
	</header>
	<!-- //헤더 -->
	<!-- 메인섹션 -->
	<main>
		<section class="section1">
			<p>이거시 첫번째 섹션</p>
		</section>
		<section class="section2">
			<p>이거시 두번째 섹션</p>
		</section>
		<section class="section3">
			<p>이거시 세번째 섹션</p>
		</section>
		<section class="section4">
			<p>이거시 네번째 섹션</p>
		</section>
	</main>
	<!-- //메인섹션 -->
	<!-- 푸터 -->
	<footer>

	</footer>
	<!-- //푸터 -->
	<!-- //페이지 끝 -->
	<!-- 자바스크립트 -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/common.js"></script>
	<!-- 내부 스크립트 -->
	<script>
	</script>
	<!-- //자바스크립트 -->
</body>
</html>
