@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
  font-size: 100%;
  word-break: break-all; }

.box {
  border: 1px solid #333;
  box-sizing: border-box; }

/*리누 기본 CSS*/
/*
sass 실시간 모니터링 실행
sass --watch style.scss:style.css --sourcemap=none
*/
#checkbox {
  display: none; }

.checkbox {
  display: block;
  text-align: center;
  width: 50%;
  height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  line-height: 30px;
  margin: 10px auto; }

.box {
  width: 90%;
  margin: 0 auto; }

.content {
  position: absolute;
  top: 50px;
  left: 0;
  background: #efefef; }
  .content p {
    padding: 20px; }
    .content p:nth-child(1) {
      width: 80%; }
    .content p:nth-child(2) {
      width: 50%; }
    .content p:nth-child(3) {
      width: 30%; }
    .content p:nth-child(4) {
      width: 50%; }
  .content * {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

#checkbox:checked ~ .content * {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/* */
