<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640,target-densitydpi=medium-dpi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015.04.07 - title </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 페이지 시작 -->

  <div class="big_box">
    <div class="box_1">
      <div class="content_box">
        
      </div>

    </div>
    <div class="box_2">2</div>
    <div class="box_3">3</div>
  </div>
    <!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/ljs.js"></script>
<!-- //자바스크립트 -->
</body>
</html>
