<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 오픈그래프 프로토콜 -->
  <meta name="title" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <!-- //오픈그래프 프로토콜 -->
  <title>2015. 10. 06 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>
  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>

    <div class="dot" style="top:100px;left:100px"></div>
    <div class="dot" style="top:200px;left:500px"></div>
    <div class="dot" style="top:250px;left:200px"></div>
    <div class="dot" style="top:300px;left:700px"></div>
    <div class="dot" style="top:350px;left:600px"></div>
    <div class="dot" style="top:400px;left:200px"></div>
    <div class="dot" style="top:450px;left:400px"></div>
    <div class="dot" style="top:500px;left:100px"></div>
    <div class="dot" style="top:550px;left:700px"></div>
    <div class="line">
      <hr class="line">
    </div>
    <div class="content_box"></div>
  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
<!-- 자바스크립트 -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/common.js"></script>
<!-- 내부 스크립트 -->
<script>
</script>
<!-- //자바스크립트 -->
</body>
</html>
