<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2015.04.07 - title </title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav id="nav">
        <ul>
            <li><a href="">방문추이</a></li>
            <li><a href="">푸시발송</a></li>
            <li><a href="">푸시이력</a></li>
        </ul>
    </nav>
    <section>
        <header>
            <div class="hamburger_menu"><a href="#nav">&#9776;</a></div>
            <div class="app_title">Ideakey APP Admin</div>
        </header>
    </section>
    <section>
        내용 영역
    </section>
</body>

</html>