


<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- The side should not be cached  -->
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="robots" content="noindex" />
		<meta name="foundation" content="portlet" />

		<title>Cached Portlet Page</title>
		<!-- Load jquery in  a sandbox (noConflict) version -->
		<script src="/system/master/javascripts/ext/jquery-1.7.1.min.js" type="text/javascript"></script>


				<link rel="stylesheet" media="all" type="text/css" href="/v_38307917687715/system/master/css/kr.allianz.cms.theme_oneweb-kr-theme.part-01.css"/ >

				<link rel="stylesheet" media="all" type="text/css" href="/v_38307917687715/system/master/css/kr.allianz.cms.theme_oneweb-kr-theme.part-02.css"/ >




		<style>
		.progress .progressvalue.fourstep .count-icon {
			padding-top: 5px;
		}

		input {
			box-sizing: content-box;
			-moz-box-sizing: content-box;
		}
		</style>
	</head>
	<body style="min-height:0px;">



		<!-- show the portlet code -->



				<!-- case classic page -->





				<link rel="stylesheet" href="https://www.allianzlife.co.kr:443/oneweb/cms/www.allianzlife.co.kr/Disclosure/prices_disclosure/?pagenavigationalstate=H4sIAAAAAAAAAGNggAAAad8iZQgAAAA*&amp;resourcestate=JBPNS_&amp;type=portlet&amp;resourceid=JBPNS_rO0ABXeCAAh3c3JwLXVybAAAAAEASGh0dHA6Ly8xMjcuMC4wLjE6MTcyMTAvaG1wZ19wb3J0bGV0cy13YXIvcmVzb3VyY2VzL2Nzcy9obXBnX3BvcnRsZXRzLmNzcwAUd3NycC1wcmVmZXJPcGVyYXRpb24AAAABAAVmYWxzZQAHX19FT0ZfXw**&amp;resourcecacheability=PAGE&amp;phase=resource&amp;windowid=182a4102-a279-49eb-8222-ad5c76a9afeb-prdtPrcDscls" />
				<!-- ST -->
					<!-- subtitle -->
					<div class="Pmodule underLine">
						<p class="bgbox">
							※  판매중인 전 상품에 대한 보험 가입설계를 직접 할 수 있습니다.
						</p>
						<table class="grid12" summary="구분, 상품판매명, 가입설계 버튼으로 구성된 보험 가격공시 리스트 입니다.">
							<caption class="acchidden">가입설계 선택 리스트 | 구분, 상품판매명, 가입설계선택 제공</caption>
							<colgroup>
								<col width="20%" /><col width="65%" /><col width="15%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col" class="firstcol">구분</th>
									<th scope="col">상품 판매명</th>
									<th scope="col">가입설계 선택</th>
								</tr>
							</thead>
							<tbody>


								<tr>

									<td rowspan="2" scope="row" class="firstcol highlight acenter">종신</td>

									<td class="nlineL">(무)알리안츠우리가족안심CI통합종신보험Ⅱ(보증비용부과형)</td>
									<td class="acenter">
										<a href="#AZK00325" onclick="openPopup('AZK00325','AA','01','lp_main.asp','(무)알리안츠우리가족안심CI통합종신보험Ⅱ(보증비용부과형)');return false;" target="_blank" title="(무)알리안츠우리가족안심CI통합종신보험Ⅱ(보증비용부과형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠파워업통합종신보험Ⅱ(보증비용부과형)</td>
									<td class="acenter">
										<a href="#AZK00326" onclick="openPopup('AZK00326','AA','01','lp_main.asp','(무)알리안츠파워업통합종신보험Ⅱ(보증비용부과형)');return false;" target="_blank" title="(무)알리안츠파워업통합종신보험Ⅱ(보증비용부과형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>



								<tr>

									<td rowspan="6" scope="row" class="firstcol highlight acenter">연금</td>

									<td class="nlineL">연금저축 나이스플랜연금보험XⅣ</td>
									<td class="acenter">
										<a href="#AZK00193" onclick="openPopup('AZK00193','AA','02','lp_main.asp','연금저축 나이스플랜연금보험XⅣ');return false;" target="_blank" title="연금저축 나이스플랜연금보험XⅣ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠골드플랜연금보험Ⅶ</td>
									<td class="acenter">
										<a href="#AZK00255" onclick="openPopup('AZK00255','AA','02','lp_main.asp','(무)알리안츠골드플랜연금보험Ⅶ');return false;" target="_blank" title="(무)알리안츠골드플랜연금보험Ⅶ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠LTC더블연금보험Ⅵ</td>
									<td class="acenter">
										<a href="#AZK00291" onclick="openPopup('AZK00291','AA','02','lp_main.asp','(무)알리안츠LTC더블연금보험Ⅵ');return false;" target="_blank" title="(무)알리안츠LTC더블연금보험Ⅵ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">연금저축 체인지업연금보험Ⅳ</td>
									<td class="acenter">
										<a href="#AZK00314" onclick="openPopup('AZK00314','AA','02','lp_main.asp','연금저축 체인지업연금보험Ⅳ');return false;" target="_blank" title="연금저축 체인지업연금보험Ⅳ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠純연금보험Ⅴ</td>
									<td class="acenter">
										<a href="#AZK00315" onclick="openPopup('AZK00315','AA','02','lp_main.asp','(무)알리안츠純연금보험Ⅴ');return false;" target="_blank" title="(무)알리안츠純연금보험Ⅴ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠우리아이純연금보험Ⅴ</td>
									<td class="acenter">
										<a href="#AZK00316" onclick="openPopup('AZK00316','AA','02','lp_main.asp','(무)알리안츠우리아이純연금보험Ⅴ');return false;" target="_blank" title="(무)알리안츠우리아이純연금보험Ⅴ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>



								<tr>

									<td rowspan="9" scope="row" class="firstcol highlight acenter">변액</td>

									<td class="nlineL">(무)알리안츠파워밸런스PLUS변액연금보험</td>
									<td class="acenter">
										<a href="#AZK00282" onclick="openPopup('AZK00282','AA','03','lp_main.asp','(무)알리안츠파워밸런스PLUS변액연금보험');return false;" target="_blank" title="(무)알리안츠파워밸런스PLUS변액연금보험 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠뉴파워리턴변액유니버셜보험Ⅳ</td>
									<td class="acenter">
										<a href="#AZK00287" onclick="openPopup('AZK00287','AA','03','lp_main.asp','(무)알리안츠뉴파워리턴변액유니버셜보험Ⅳ');return false;" target="_blank" title="(무)알리안츠뉴파워리턴변액유니버셜보험Ⅳ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠마이플랜달러변액적립보험Ⅳ(일시납)</td>
									<td class="acenter">
										<a href="#AZK00322" onclick="openPopup('AZK00322','AA','03','lp_main.asp','(무)알리안츠마이플랜달러변액적립보험Ⅳ(일시납)');return false;" target="_blank" title="(무)알리안츠마이플랜달러변액적립보험Ⅳ(일시납) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠파워변액적립보험Ⅱ</td>
									<td class="acenter">
										<a href="#AZK00324" onclick="openPopup('AZK00324','PA','03','lp_main.asp','(무)알리안츠파워변액적립보험Ⅱ');return false;" target="_blank" title="(무)알리안츠파워변액적립보험Ⅱ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠가족사랑변액유니버셜종신보험Ⅱ</td>
									<td class="acenter">
										<a href="#AZK00327" onclick="openPopup('AZK00327','AA','03','lp_main.asp','(무)알리안츠가족사랑변액유니버셜종신보험Ⅱ');return false;" target="_blank" title="(무)알리안츠가족사랑변액유니버셜종신보험Ⅱ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠멀티플변액유니버셜통합종신보험Ⅱ</td>
									<td class="acenter">
										<a href="#AZK00328" onclick="openPopup('AZK00328','AA','03','lp_main.asp','(무)알리안츠멀티플변액유니버셜통합종신보험Ⅱ');return false;" target="_blank" title="(무)알리안츠멀티플변액유니버셜통합종신보험Ⅱ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠꼭필요한직장인변액유니버셜보험</td>
									<td class="acenter">
										<a href="#AZK00337" onclick="openPopup('AZK00337','GB','03','lp_main.asp','(무)알리안츠꼭필요한직장인변액유니버셜보험');return false;" target="_blank" title="(무)알리안츠꼭필요한직장인변액유니버셜보험 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠팀챌린지변액유니버셜보험</td>
									<td class="acenter">
										<a href="#AZK00339" onclick="openPopup('AZK00339','AA','03','lp_main.asp','(무)알리안츠팀챌린지변액유니버셜보험');return false;" target="_blank" title="(무)알리안츠팀챌린지변액유니버셜보험 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠우리아이꿈을키우는변액유니버셜보험</td>
									<td class="acenter">
										<a href="#AZK00340" onclick="openPopup('AZK00340','AA','03','lp_main.asp','(무)알리안츠우리아이꿈을키우는변액유니버셜보험');return false;" target="_blank" title="(무)알리안츠우리아이꿈을키우는변액유니버셜보험 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>



								<tr>

									<td rowspan="6" scope="row" class="firstcol highlight acenter">보장</td>

									<td class="nlineL">(무)알리안츠실속으로가득찬암보험(갱신형)</td>
									<td class="acenter">
										<a href="#AZK00305" onclick="openPopup('AZK00305','AA','04','lp_main.asp','(무)알리안츠실속으로가득찬암보험(갱신형)');return false;" target="_blank" title="(무)알리안츠실속으로가득찬암보험(갱신형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠뉴실손의료비보장보험(갱신형)</td>
									<td class="acenter">
										<a href="#AZK00318" onclick="openPopup('AZK00318','AA','04','lp_main.asp','(무)알리안츠뉴실손의료비보장보험(갱신형)');return false;" target="_blank" title="(무)알리안츠뉴실손의료비보장보험(갱신형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠계속받는암보험Ⅱ(갱신형)</td>
									<td class="acenter">
										<a href="#AZK00329" onclick="openPopup('AZK00329','AA','04','lp_main.asp','(무)알리안츠계속받는암보험Ⅱ(갱신형)');return false;" target="_blank" title="(무)알리안츠계속받는암보험Ⅱ(갱신형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠6070실버암보험Ⅱ(갱신형)</td>
									<td class="acenter">
										<a href="#AZK00330" onclick="openPopup('AZK00330','AA','04','lp_main.asp','(무)알리안츠6070실버암보험Ⅱ(갱신형)');return false;" target="_blank" title="(무)알리안츠6070실버암보험Ⅱ(갱신형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)올라잇정기보험</td>
									<td class="acenter">
										<a href="#AZK00335" onclick="openPopup('AZK00335','AR','04','lp_main.asp','(무)올라잇정기보험');return false;" target="_blank" title="(무)올라잇정기보험 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)올라잇암보험(갱신형)</td>
									<td class="acenter">
										<a href="#AZK00336" onclick="openPopup('AZK00336','AR','04','lp_main.asp','(무)올라잇암보험(갱신형)');return false;" target="_blank" title="(무)올라잇암보험(갱신형) 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>



								<tr>

									<td rowspan="1" scope="row" class="firstcol highlight acenter">저축</td>

									<td class="nlineL">(무)알리안츠마이플랜저축보험Ⅶ</td>
									<td class="acenter">
										<a href="#AZK00303" onclick="openPopup('AZK00303','AA','05','lp_main.asp','(무)알리안츠마이플랜저축보험Ⅶ');return false;" target="_blank" title="(무)알리안츠마이플랜저축보험Ⅶ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>



								<tr>

									<td rowspan="3" scope="row" class="firstcol highlight acenter">방카슈랑스</td>

									<td class="nlineL">(무)알리안츠파워베스트업변액연금보험PLUSⅤ</td>
									<td class="acenter">
										<a href="#AZK00288" onclick="openPopup('AZK00288','BA','07','lp_main.asp','(무)알리안츠파워베스트업변액연금보험PLUSⅤ');return false;" target="_blank" title="(무)알리안츠파워베스트업변액연금보험PLUSⅤ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠저축보험Ⅵ</td>
									<td class="acenter">
										<a href="#AZK00313" onclick="openPopup('AZK00313','BA','07','lp_main.asp','(무)알리안츠저축보험Ⅵ');return false;" target="_blank" title="(무)알리안츠저축보험Ⅵ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>

								<tr>

									<td class="nlineL">(무)알리안츠변액적립보험Ⅳ</td>
									<td class="acenter">
										<a href="#AZK00323" onclick="openPopup('AZK00323','BA','07','lp_main.asp','(무)알리안츠변액적립보험Ⅳ');return false;" target="_blank" title="(무)알리안츠변액적립보험Ⅳ 가입설계" class="Btn Type1 Green"><span>가입설계</span></a>
									</td>
								</tr>


							</tbody>
						</table>
                        <!--
						<p class="indentTxt">
							※ 방카슈랑스 상품 가입설계시 보험료 계산 후 상세보기에서 리포트 출력프로그램 설치가 잘 안되는시는 분은 아래에서 "oz viewer 다운로드" 를 클릭하여 수동설치하여 주십시오.
						</p>
                        -->
                        <!--
						<div class="BtnArea acenter">
                        -->
							<!-- TODO: as-is 소스 현재상태=다이렉트 url, 기존소스 downSubmit()스크립트 처리? 확인필요 -->
							<!--
                            <a href="http://www.allianzbanca.co.kr/webpos/com/contentdown/OZReportViewer30_allianz.exe" class="button prime goto"><span class="icon"></span>OZ Viewer 다운로드</a>
                            -->
                        <!--
						</div>
                        -->

					</div>
					<form name="form" action="https://xsfa.allianzlife.co.kr/ngs/sfa/ui/interface/0002-m-quotation.iface" method="post">
						<input type="hidden" name="planCode" value="">	<!-- only this -->
						<input type="hidden" name="entplPrdtGrpCd" value="">
						<input type="hidden" name="planNm" value="">
						<input type="hidden" name="planUrl" value="">
						<input type="hidden" name="planch" value="">
						<input type="hidden" name="productNm" value="">
						<input type="hidden" name="targetUrl" value="">
						<input type="hidden" name="mgp" value="bye">
						<input type="hidden" name="str" value="">
						<input type="hidden" name="ch" value="">
						<input type="hidden" name="strNm" value="">
						<input type="hidden" name="strUrl" value="">
						<input type="hidden" name="prodId" value="">
					</form>
				<!-- ED -->
				<script type="text/javascript">
				//파라미터 str(상품코드), ch ( 채널 ), strcode(대표상품그룹코드), strUrl, strNm(상품명)
				function openPopup(str, ch, strcode, strUrl, strNm) {

				//      01 AA
				//      02 PA
				//      03 CA
				//      04 DM
				//      05 GA
				//      06 GB
				//      07 BA
				//      88 기타채널
				//      98 개인대리점
				//      99 내근
					//var actionUrl=''https://xsfa.allianzlife.co.kr/qu/pn'';
					//if(ch=='BA'){
					//	actionUrl=document.location.protocol + "//"+"'https://xsfa.allianzlife.co.kr/qu/pn'"+"/qu/pn";
					//}

					var objPopup = window.open("","planWindow","left=0, top=0, status=no,scrollbars=auto, resizable=no, width=650, height=800");
					if(ch=='BA'){
						document.form.action='https://xsfa.allianzlife.co.kr/qu/pn';
					}else{
						document.form.action='https://xsfa.allianzlife.co.kr/qu/pn';
					}
					document.form.entplPrdtGrpCd.value = strcode;
					document.form.planNm.value = strNm;
					document.form.planUrl.value = strUrl;
					document.form.planch.value = ch;
					document.form.productNm.value = strNm;
					document.form.targetUrl.value = strUrl;
					document.form.prodId.value = str;
					document.form.str.value = str;
					document.form.ch.value = ch;
					document.form.strNm.value = strNm;
					document.form.strUrl.value = strUrl;
					document.form.target = "planWindow";
					if(objPopup == null) {
						alert("차단된 팝업창을 허용해 주세요.");
					} else {
						document.form.submit();
						objPopup.focus();
					}

				}


				function openPlan(str, ch, strcode, strUrl,strNm){
					var objPopup = window.open("","planWindow","left=0, top=0, status=no,scrollbars=auto, resizable=no, width=650, height=800");
					if(ch=='BA'){
						//document.form.action=''https://xsfa.allianzlife.co.kr/qu/pn''+str+'.jsp';
					}else{
						//document.form.action=''https://xsfa.allianzlife.co.kr/qu/pn'';
					}
					document.form.planCode.value = str;
					document.form.planNm.value = strNm;
					document.form.planUrl.value = strUrl;
					document.form.planch.value = ch;
					document.form.productNm.value = strNm;
					document.form.targetUrl.value = strUrl;
					document.form.prodId.value = str;
					document.form.str.value = str;
					document.form.ch.value = ch;
					document.form.strNm.value = strNm;
					document.form.strUrl.value = strUrl;

					document.form.target = "planWindow";
					if(objPopup == null) {
						alert("차단된 팝업창을 허용해 주세요.");
					} else {
						document.form.submit();
						objPopup.focus();
					}
				}
				</script>




		<!-- manipulate the portlet code -->
		<script type="text/javascript">
			// function to change the target of the current element
			function changeTargetOfElement(currentElement) {
				// make different checks if it is allowed to change the target
				// check the target attribute
				var elmentTarget = $(currentElement).attr('target');
				var targetOK = (elmentTarget == undefined ||
						(elmentTarget.toLowerCase() != "_blank" &&
								elmentTarget.toLowerCase() != "_parent" &&
								elmentTarget.toLowerCase() != "_self" &&
								elmentTarget.toLowerCase() != "_top"));

				// check the href attribute
				var elmentHref = $(currentElement).attr('href');
				var noJavascript = (elmentHref == undefined || elmentHref.toLowerCase().match("^javascript") == null);
				var noAnker = (elmentHref == undefined || elmentHref != "#");
				var hrefOK = noJavascript && noAnker;

				// change the parent only if all requirements are OK
				if (targetOK && hrefOK) {
					$(currentElement).attr('target', '_parent');
				}
			}

			$(document).ready(function () {
				// handle form submits
				$('form').each(function(index,item){
					changeTargetOfElement(item);
				});
				$('form').on('submit',function(event){
					changeTargetOfElement(event.target);
				});
				// handle links
				$('a').on('click',function(event){
					changeTargetOfElement(event.target);
				});
			});

			window.setInterval(function () {

				// handle form submits
				$('form').each(function(index,item){
					changeTargetOfElement(item);
				});
				// handle links
				$('a').each(function(index,item){
					changeTargetOfElement(item);
				});
			}, 100);

		</script>



					<script src="/v_38307917687715/system/master/javascripts/kr.allianz.cms.theme_oneweb-kr-theme.js" type="text/javascript"></script>



	</body>
</html>
