@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
    margin: 0;
    position: relative;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    word-break: break-all;
}

div {
    position: relative;
    padding: 10px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.main_img {
    width: 100%;
    height: 500px;
    background: #eee;
}
.main_img .c_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 200px;
    border: none;
}

[class^="text"], [class^="s_box"] {
    margin-top: 400px;
    overflow: hidden;
}

.s_box1 {
    height: 250px;
}


[class^="sl_box"], [class^="sr_box"] {
    position: absolute;
}

.text1 {
    opacity: 0;
    transition: 1s all ease;
}
.text1_on {
    opacity: 1;
}


.sl_box1, .sr_box1 {
    position: absolute;
    width: 400px;
    transition: 3s all ease;
}
.sl_box1 {
   right: -400px; 
}
.sr_box1 {
    left : -400px;
}

.sl_box1_on {
   right: 51%; 
}
.sr_box1_on {
    left : 51%;
}

.s_box2 {
    height: 300px;
    margin-bottom: 400px;
}
.sl_box2 {
    width: 60%;
    left: -60%;
    transition: 1s all ease;
}
.sr_box2 {
    width: 60%;
    right: -60%;
    bottom: 10px;
    transition: 1s all ease;

}

.sl_box2_on {
    width: 60%;
    left: 10px;
}
.sr_box2_on {
    width: 60%;
    right: 10px;
    bottom: 10px;
}


.s_box3 {
    overflow: hidden;
}
.sl_box3 {
    width: 49%;
}
.sr_box3 {
    width: 49%;
    right: 10px;
}

.s_box4 {
    height: 500px;
}
.sl_box4 {
    width: 49%;
    height: 480px;
}
.sr_box4 {
    width: 49%;
    right: 10px;
    height: 480px;
}

.indicator {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
}




















