<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 오픈그래프 프로토콜 -->
  <meta name="title" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <!-- //오픈그래프 프로토콜 -->
  <title> 2021.06.18 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <main>
    <section>
      <div class="main_visual_box">
        <div class=" anime1">
          <h1>Introducing the PI7 &amp; PI5</h1>
        </div>
        <div class=" anime1">
          <h4>True Wireless. Incredible Sound.</h4>  
        </div>
        <div class="main_visual_btn anime1">
          <a href="http://ideakey.co.kr/design/hyo/bowerswilkins/inc/Introducing-PI7PI5.html">DISCOVER MORE</a>
        </div>

      </div>

    </section>
  </main>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
  <!-- //페이지 끝 -->
  <!-- 자바스크립트 -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/common.js"></script>
  <!-- 내부 스크립트 -->
  <script>
  </script>
  <!-- //자바스크립트 -->
</body>

</html>