<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>2015.03.05 - title </title>
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
    <div class="header">
        <img src="img/topimg.gif" alt="">
    </div>
    <div class="main-list">
        <ul>
            <!-- 메인 리스트 시작 -->
            <li><div class="img1"><img src="img/img01.gif" alt=""></div></li>
            <li><div class="img2"><img src="img/img02.gif" alt=""></div></li>
            <li><div class="img3"><img src="img/img03.gif" alt=""></div></li>
            <li><div class="img4"><img src="img/img04.gif" alt=""></div></li>
            <li><div class="img5"><img src="img/img05.gif" alt=""></div></li>
            <li><div class="img6"><img src="img/img06.gif" alt=""></div></li>
            <!-- //메인 리스트 시작 -->
            <!-- 더미 리스트 시작 -->
            <li><div class="dummy1"><img src="img/dummy01.gif" alt=""></div></li>
            <li><div class="dummy2"><img src="img/dummy02.gif" alt=""></div></li>
            <li><div class="dummy3"><img src="img/dummy03.gif" alt=""></div></li>
            <!-- //더미 리스트 시작 -->
        </ul>
    </div>
</body>

</html>