<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 09. 25 - title </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section>
    <ul>
      <li id="img_1"><img src="images/1.jpg" alt=""></li>
      <li id="img_2"><img src="images/2.jpg" alt=""></li>
      <li id="img_3"><img src="images/3.jpg" alt=""></li>
      <li id="img_4"><img src="images/4.jpg" alt=""></li>
      <li id="img_5"><img src="images/5.jpg" alt=""></li>
      <li id="img_6"><img src="images/6.jpg" alt=""></li>
      <li id="img_7"><img src="images/7.jpg" alt=""></li>
      <li id="img_8"><img src="images/8.jpg" alt=""></li>
      <li id="img_9"><img src="images/9.jpg" alt=""></li>
    </ul>

  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
</body>
</html>
