<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>2015. 12. 03 - transform이해 </title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 페이지 시작 -->
  <!-- 헤더 -->
  <header>

  </header>
  <!-- //헤더 -->
  <!-- 메인섹션 -->
  <section class="view_box">
    <div class="hide_box">

      <!-- 1 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 2 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 3 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 4 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 5 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 6 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 7 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 8 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 9 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 10 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 11 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 12 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 13 -->
      <section class="cube_box1">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 14 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 15 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 16 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 17 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 18 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 19 -->
      <section class="cube_box2">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 20 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 21 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 22 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 23 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 24 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

      <!-- 25 -->
      <section class="cube_box">
        <div class="cube">
          <figure class="front"></figure>
          <figure class="back"></figure>
          <figure class="right"></figure>
          <figure class="left"></figure>
          <figure class="top"></figure>
          <figure class="bottom"></figure>
        </div>
      </section>

    </div>
  </section>
  <!-- //메인섹션 -->
  <!-- 푸터 -->
  <footer>

  </footer>
  <!-- //푸터 -->
<!-- //페이지 끝 -->
</body>
</html>
